/* 3 Things I Love to Do */


#thingsIlove {
    background-color: #E88156;
    padding: 7%;
    
}

#thingsIloveText {
    font-size: 2.3rem;
    text-align: left;
    letter-spacing: -2.2px;
    color: #000000;
    opacity: 1;
    margin-bottom: 5%;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
}

.card {
    text-align: center;
    width: 30%;
    background-color: #66739F;
    padding: 3%;
    height: 90%;
    
}

.card h4 {
    font-size: 2rem;
    font-weight: bold;
    
    color: #E88156;
    opacity: 1;
    line-height: 1.3;
    margin-bottom: 5%;
}

.card p {
    font-size: 1.3rem;
    color:white;
    opacity: 1;
    line-height: 1.3;
    margin-bottom: 5%;
    
}




@media only screen and (max-width: 1015px) {
  

    #thingsIloveText {
        font-size: 2.3rem;
        text-align: center;
        letter-spacing: -2.2px;
        color: #000000;
        opacity: 1;
        margin-bottom: 5%;
    }



    


    .cardsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: 80%;
    }


    .card {
        width: 90%;
        padding: 3%;
        margin-bottom: 20px;
    }
    

}




/* For mobile phones: */


@media only screen and (max-width: 700px) {
    

    /* the top grid  */

    .disappear {
        display: none;
    }

    #topGrid {
        margin: 0px 0px;
        display: grid;
        height: 200vh;
        width: 100vw;
        grid-template-rows: 20% 15% 35% 30%;
        grid-template-columns: 100%;
        grid-template-areas:
        "mountainPic"
        "myInfo"
        "myPortrait"
        "aboutMe";
    }
  
    #mountainPic {
  
      grid-area: mountainPic;
      background-image: url("../images/mountain\ top.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-width: 100vw;
  
    }
  
    #myInfo {
      grid-area: myInfo;
      background-color: #E88156;
      padding: 0%;
      position: relative;
      min-width: 100vw;
    }
      
    .dot {
      display: none;
    }
     
  
  
  
    #logo {
    
      position: absolute;
      top: -60px;
      right: -15px;
      margin-top: 0;

    }
  
    .imageLogo {
      height: 120px;
    }
  
  
    #name {
      font-size: 35px;
      text-align: left;
      letter-spacing: -2.2px;
      color: #000000;
      opacity: 1;
      margin: 5%;
      
    }
  
    #jobTitle {
      font-size: 17px;
      text-align: left;
      
      color:white;
      opacity: 1;
      line-height: 1.3;
      margin: 5%;
    }
  
  
  
    #aboutMe {
      grid-area: aboutMe;
      background-color: #66739F;
      padding: 0%;
      min-width: auto;
      height: auto;
      
      
    }
  
    #aboutMeText {
      font-size: 30px;
      text-align: left;
      letter-spacing: -1px;
      color: #000000;
      opacity: 1;
      margin: 5%;
  
    }
  
    #aboutMeContent {
      font-size: 17px;
      text-align: left;
      letter-spacing: -1px;
      color: white;
      opacity: 1;
      line-height: 1.3;
      max-width: 40rem;
      min-width: 20rem;
      justify-content: center;
      margin: 5%;
  
  
    }
  
    li {
      margin-bottom: 17px;
    }
  
  
  
  
    #myPortrait {
      background-image: url("../images/IMG_6632.JPG");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-area: myPortrait;
      
  
    }
  
  
    .gridArea {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
  
      
    }



    /* 3 Things I Love to Do */


    #thingsIlove {
      background-color: #E88156;
      padding-top: 7%;
      
    
    
    }

    #thingsIloveText {
     font-size: 30px;
     text-align: left;
     
     color: #000000;
     opacity: 1;
     margin-bottom: 6%;
     
    }

    .cardsContainer {
     display: flex;
     flex-direction: column;
     height: auto;
     width: 90%;
     

     
    }


    





    .card {
     text-align: center;
     width: 80%;
     background-color: #66739F;
     padding: 3%;
     margin-bottom: 20px;
    
    }

    .card h4 {
     font-size: 17px;
     font-weight: bold;
     
     color: #E88156;
     opacity: 1;
     line-height: 1.3;
     margin: 5%;
    }

    .card p {
     font-size: 15px;
     color:white;
     opacity: 1;
     line-height: 1.3;
     margin-bottom: 5%;
    
    
    }


    /* my work */

    #myProject {
     padding: 7%;
    
    
    }

    #myProjectText {
     font-size: 30px;
     text-align: left;
     letter-spacing: -2.2px;
     color: #000000;
     opacity: 1;
     margin-bottom: 5%;
    }

    .projectContainer {

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: none;
     padding-bottom: 5%;
     border-bottom: 5px solid #E88156;

   

    }

    #projectInfo {

     text-align: center;
     width: 50%;
     padding: 3%;
     opacity: 1;
     line-height: 1.3;

    }

    #projectInfo h2 {
     
     

     font-size: 25px;
     font-weight: bold;
     letter-spacing: 1px;
     color: #000000;
     opacity: 1;
     line-height: 1.3;
     margin: 10%;

    }

    #projectInfo p {
     
     
     

     font-size: 17px;
     color:black;
     opacity: 1;
     line-height: 1.3;
     margin-bottom: 6%;
     letter-spacing: 0.5px;
   
    }

    #projectInfo img {
     width: 180px;

    }


    #projectImgs {
     display: flex;
     justify-content: center;
     width: 95%;
     height: auto;

    }




   






    #blogImgs {
     
     width: 300px;

    } 

    #adjusttheborder {
     border-bottom: 0px;

    }

    .adjust {
        display: flex;
        justify-content: center;
        width: 300px;
    
    }


    /* follow me  */

    #socialMedia {

     height: 90px;
     margin: 0px;
     background-color: #E88156;
     display: flex;
     justify-content: center;
     align-items: center;

    }

    


    #socialMedia img {
        margin: 0 10px;
        width: 50px;
        height: 50px
    }
    
   


    


   





        



}